* {
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: white;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
  .back{
    background-color:#858bea ;
    height: 100vh;
    position:relative;
  }
  .container{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding:53px 12px 12px 12px;
    top:5%;
    left:35%;
    border-radius: 23px;
    height: 630px;
    width: 30%;
    background-color: #252236;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45);
  }
  .container  input{
    width: 90%;
    height: 25px;
    border-radius: 23px;
    border: none;
    background-color:#323555 ;
    position: relative;
    padding: 12px;
    font-size: 18px;
    color: #fff;
  }
  .container h2{
    padding-bottom: 9px;
    padding-top: 12px;
  }
  
  .last{
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    align-items: center;
  }
  .last .add-moin{
    display: flex;
    justify-content: space-between;
    width: 80px;
    align-items: center;
     padding-top: 12px;
    
   
    
  }
  .last .add-moin button{
    height: 25px;
    width:25px;
    border-radius:50%;
    border:none;
  }
  .last .left h3{
  /*   font-size: 16px; */
  /*   padding-bottom: 12px; */
  }
   .right h1{
    font-size: 28px;
     padding-top: 12px;
     direction: rtl;
     
  }
  @media (max-width : 867px)
  {
    .container{
      width: 45%;
      height: 80%;
      top:5%;
     left:22%;
    }
    .last{
      flex-direction: column;
      font-size: 15px;
    }
     .right h1{
       direction: none;
       text-align: center;
     }
    .last .left h3{
  /*    padding-bottom: 12px; */
      text-align: center;
      
    }
    .right{
      padding-top: 12px;
    }
  }
  